<div class="page-header">
  <h1>Registrarse</h1>
</div>

<div class="container">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), role:"form", id:"payment-form") do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
   <div class="col-xs-12 col-md-7" id ="wrapper_1">

     <!-- CREDIT CARD FORM STARTS HERE -->
     <div class="panel panel-default credit-card-box" id="form-body">
         <div class="panel-heading display-table" id="PanelTitulo">
             <div class="row display-tr" >
                 <h3 class="panel-title display-td" >Detalles de usuario</h3>
                 <div class="display-td" >
                       <img class="img-responsive pull-right" id="user-avatar" src="/img/avatar-user.png">
                 </div>
             </div>
         </div>



      <div class="row">
          <div class="col-xs-12">
              <div class="form-group">
                  <label for="couponCode">Nombre</label>
                    <%= f.text_field :first_name , class:"form-control", placeholder:"Nombre", autofocus: true, required: true %>
              </div>
          </div>
      </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="couponCode">Apellido</label>
                          <%= f.text_field :last_name, class:"form-control", placeholder:"Apellido", required: true %>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="couponCode">No. Telefonico</label>
                          <%= f.telephone_field :cel, class:"form-control", placeholder:"No. Telefonico", required: true %>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="couponCode">Pais</label>
                          <%= f.text_field :country, class:"form-control", placeholder:"Pais", required: true %>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="couponCode">Correo</label>
                          <%= f.email_field :email, class:"form-control", placeholder:"Correo", required: true %>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="couponCode">Contrasena</label>
                        <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> Minimo de caracteres)</em>
                        <% end %><br />
                        <%= f.password_field :password, class:"form-control", placeholder:"******", autocomplete: "off", required: true %>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="couponCode">Confirmar Contrasena</label>
                        <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> Minimo de caracteres)</em>
                        <% end %><br />
                        <%= f.password_field :password_confirmation, class:"form-control", placeholder:"******", autocomplete: "off", required: true %>

                    </div>
                </div>
            </div>

 </div>

 </div>


          <!-- You can make it whatever width you want. I'm making it full width
               on <= small devices and 4/12 page width on >= medium devices -->
          <div class="col-xs-12 col-md-4" id ="wrapper">


              <!-- CREDIT CARD FORM STARTS HERE -->
              <div class="panel panel-default credit-card-box" id="form-body">
                  <div class="panel-heading display-table" id="PanelTitulo">
                      <div class="row display-tr" >
                          <h3 class="panel-title display-td" >Detalles de pago</h3>
                          <div class="display-td" >
                              <img class="img-responsive pull-right" src="/img/credit-card.png">
                          </div>
                      </div>
                  </div>

                  <div class="row">

                          <div class="form-group">


                                <div class="card-wrapper"></div>



                        </div>
                      </div>

          <div class="row">
              <div class="col-xs-12">
                  <div class="form-group">

                      <label for="cardNumber">Numero de Tarjeta</label>
                      <div class="input-group">
                          <%= f.telephone_field :no_tarjet, class:"form-control",
                          placeholder:"Numero de Tarjeta", required: true %>
                          <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-xs-12">
                  <div class="form-group">
                      <label for="couponCode">Nombre del acreedor</label>
                        <%= f.text_field :tarjet_user, class:"form-control",
                        placeholder:"Nombre Acreedor", required: true%>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-xs-7 col-md-7">
                  <div class="form-group">
                      <label for="cardExpiry"><span class="hidden-xs">Expiracion</span><span class="visible-xs-inline">Exp</span> Fecha</label>
                      <%= f.telephone_field :expiration_date, class:"form-control",
                      placeholder:"MM/YY", required: true %>
                    </div>
              </div>
              <div class="col-xs-5 col-md-5 pull-right">
                  <div class="form-group">
                      <label for="cardCVC">CVC</label>
                      <%= f.telephone_field :CVC, class:"form-control",
                      placeholder:"CVC", required: true %>

                  </div>
              </div>
          </div>



            </div>

            <div class="actions">
              <%= f.submit "Registrar", class:"btn btn-success btn-lg btn-block" %>
            </div>
          <% end %>



</div>
<!-- CREDIT CARD FORM ENDS HERE -->


</div>

</div>

<%= javascript_include_tag 'card' %>

<script>
       new Card({
           form: document.querySelector('form'),
           container: '.card-wrapper',
       formSelectors: {
         numberInput: 'input#user_no_tarjet', // optional — default input[name="number"]
         expiryInput: 'input#user_expiration_date', // optional — default input[name="expiry"]
         cvcInput: 'input#user_CVC', // optional — default input[name="cvc"]
         nameInput: 'input#user_tarjet_user' // optional - defaults input[name="name"] // optional - defaults input[name="name"]
   }
       });
   </script>

<%= render "users/shared/links" %>
